body {
    font-family: Arial, sans-serif;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 0px 0px;
    background-color: #000;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }


  .navbar-logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar-logo h2 {
    font-size: 1.8rem;
    margin: 0;
    color: #d81b60;
  }

  .icon{
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    gap: 60px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .btn {
    background-color: pink;
    border: 1px solid gold;
    color: gold;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-signup {
    background-color: #d81b60;
    border-color: #d81b60;
    color: gold;
  }
  
  .btn-signup:hover {
    background-color: #c2185b;
  }
  
  .btn-login:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .icon-container {
    display: flex;
    gap: 15px;
  }
  
  .icons {
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
  }
  
  .icons:hover {
    color: #d81b60;
  }


