.content{
    background-image: url("https://cdn.pixabay.com/photo/2023/11/01/11/14/cable-car-8357177_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";
    text-align: "center";
    position: relative;
}

.content-in{
    position: absolute;
    top: 20%;
    left: 5%;
    color: pink;
    text-align: left;
    font-family:cursive;
}

.content-in button{
    width: 130px;
    height: 36px;
    border: none;
    background-color: blue;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}