.main-page{
    background-image: url("https://cdn.pixabay.com/photo/2023/11/01/11/16/lake-8357182_1280.jpg");
    background-size: cover;
    background-position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: "column";
    justify-content: "flex-end";
    align-items: center;
    text-align: center;
    position: relative;
    padding-right: 20px;
    
}
form{
    width: 330px;
    justify-content: flex-end;
    text-align: center;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: transparent;
}
  
form input{
    width: 95%;
    padding: 5px;
    border: 1px solid rgb(119, 119, 119);
    font-size: 17px;
    color: white;
    margin-top: 21px;
    /* background-color: black; */
}
  
form button{
    width: 135px;
    height: 33px;
    background-color: rgb(2, 173, 122);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 22px;
  }
  
  form .heading{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 70px;
  }
  
  .main-page{
    gap:53px;
    margin-top: 0px;
    flex-wrap: wrap;
  }
  
  img{
    width: 500px;
    height: 500px;
  }

.account p{
    color: yellow;
}

.account a{
    color: greenyellow;
}

.account input{
    border-radius: 50px;
}

.heading{
    color: black;
}